global
    log /dev/log  local0 warning
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

   stats socket /var/lib/haproxy/stats  level admin

defaults
  log global
  option  httplog
  option  dontlognull
        timeout connect 5000
        timeout client 50000
        timeout server 50000
listen  stats   192.168.126.161:1936
        mode            http
        log             global

        maxconn 10

        clitimeout      100s
        srvtimeout      100s
        contimeout      100s
        timeout queue   100s

        stats enable
        stats hide-version
        stats refresh 5s
        stats show-node
        stats auth admin:123
        stats uri  /haproxy/medianet

frontend kube-apiserver
  bind *:6443
  mode tcp
  option tcplog
  default_backend kube-apiserver
backend kube-apiserver
    mode tcp
    option tcplog
    option tcp-check
    balance roundrobin
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 20s maxconn 250 maxqueue 256 weight 100
    server master1.medianet 192.168.126.172:6443 check inter 1s
    server master2.medianet 192.168.126.174:6443 check inter 1s
    server master3.medianet 192.168.126.175:6443 check inter 1s




